ul {
    list-style: none;
    margin: 50px 0px;
    padding: 0;
    width: 100%;
}
li {
    margin: 30px 4px 30px 40px;
    padding: 0px;
    color: rgb(116, 116, 116);
    font-weight: bold;
}
li > svg {
    margin-right: 15px;
    color: rgb(116, 116, 116);
}
li > .svg-inline--fa {
    font-size: 18px;
}
li:hover, li.active {
    /*background-color: #1e1e1e;*/
    /*border-radius: 10px;*/
    cursor: pointer;
    border-right: 4px solid #FFF;
    border-radius: 2px;
    color: #FFF;
}
li:hover > svg, li.active > svg {
    color: #FFF;
}